<div class="box">
    <div class="content registerBox" style="display:none;">
        <div class="form">
            <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                <input id="email" class="form-control" type="text" placeholder="Email: " name="email" required>
                <input id="username" class="form-control" type="text" placeholder="Tên người dùng: " name="username" required>
                <input id="phone" class="form-control" type="text" placeholder="Số điện thoại: " name="phone" required>
                &nbsp;<label class="radio-inline"><input type="radio" name="gender" value="male" checked required> Nam</label>&nbsp;
                &nbsp;<label class="radio-inline"><input type="radio" name="gender" value="female" required> Nữ</label>&nbsp;
                <input id="password" class="form-control" type="password" placeholder="Nhập mật khẩu (ít nhất 6 ký tự): " name="password" required>
                <input id="password_confirmation" class="form-control" type="password" placeholder="Nhập lại mật khẩu: " name="password_confirmation" required>
                <input class="btn btn-default btn-register" type="submit" value="Tạo tài khoản" name="commit">
            </form>
        </div>
    </div>
</div>  
